# Server Configuration
PORT=5000
NODE_ENV=development
CORS_ORIGIN=*

# MongoDB Database Connection
MONGODB_URI=mongodb://localhost:27017/securec_db

# Authentication Secrets
JWT_SECRET=super_secret_securec_jwt_key_32bytes_min_length_2026
JWT_REFRESH_SECRET=super_secret_securec_refresh_key_32bytes_2026
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
